// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap");

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$primary: #2D2D2D;
$soft: #fafafb;


$softgrey: rgba(32, 33, 36, 0.28);
//boxshadow
$box: 0 1px 6px 0;
$lightblue: #cbd8f9;
$deepblue: #2D2D2D;
$text: #333333;
$softblue: #fafafb;
$shinyblue: #2D2D2D;
$pink: #f082ac;
$green: #2cc096;


//media queries

@mixin largephone {
    @media only screen and (min-width: 400px) {
        @content;
    }
}

@mixin ipad {
    @media only screen and (min-width: 700px) {
        @content;
    }
}

@mixin ipadpro {
    @media only screen and (min-width: 1000px) {
        @content;
    }
}


@mixin laptop {
    @media only screen and (min-width: 1200px) {
        @content;
    }

}

@mixin largelaptop {
    @media only screen and (min-width: 1800px) {
        @content;
    }

}


//globals


p {
    color: $text;
}

html {
    scroll-behavior: smooth;
}

button:focus {
    outline: 0.6px solid $softgrey !important;
}

body {
    // font-family: 'Poppins', sans-serif !important;
    font-family: "Quicksand", sans-serif !important;

}

form label {
    color: $text;
}

li,
a {
    cursor: pointer;
}

li {
    list-style: none;
}

a:hover {
    text-decoration: none !important;
}

// An helper to center notifications 

.opacity {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
}

.indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    z-index: 999;
}

//just space, incase there's a network error and data isn't loaded

.space {
    padding: 200px 0;
}

button {
    cursor: pointer;
}



/* Note - ALL Imported styles represent each page and are named accordingly. 
Class names accross components can be the same but they are wrapped by a unique class, usually named after the page or component */

@import "./home";
@import "./store_new-item";
@import "./product";
@import "./cart";
@import "./store";
@import "./dashboard";
@import "./checkout";
@import "./become_a_vendor";
@import "./header";
@import "./category";
@import "./customer";
@import "./misc";